/data/*
server-client/build/lib.macosx-11.1-arm64-cpython-311/tcp_client_wrapper.cpython-311-darwin.so
server-client/build/lib.macosx-11.1-arm64-cpython-311/tcp_server_wrapper.cpython-311-darwin.so
server-client/build/temp.macosx-11.1-arm64-cpython-311/PythonClientWrapper.o
server-client/tcp_server_wrapper.cpython-311-darwin.so
server-client/tcp_client_wrapper.cpython-311-darwin.so
server-client/.DS_Store
server-client/build/temp.macosx-11.1-arm64-cpython-311/PythonServerWrapper.o
server-client/build/temp.macosx-11.1-arm64-cpython-311/server.o
.DS_Store
server-client/PythonClientWrapper.cpp
server-client/PythonServerWrapper.cpp
server-client/build/temp.win-amd64-3.8/Release/tcp_server_wrapper.cp38-win_amd64.lib
server-client/build/temp.win-amd64-3.8/Release/tcp_server_wrapper.cp38-win_amd64.exp
server-client/build/temp.win-amd64-3.8/Release/tcp_client_wrapper.cp38-win_amd64.lib
server-client/build/temp.win-amd64-3.8/Release/tcp_client_wrapper.cp38-win_amd64.exp
server-client/build/temp.win-amd64-3.8/Release/PythonClientWrapper.obj
server-client/build/temp.win-amd64-3.8/Release/PythonServerWrapper.obj
server-client/tcp_server_wrapper.cp38-win_amd64.pyd
server-client/tcp_client_wrapper.cp38-win_amd64.pyd
server-client/build/lib.win-amd64-3.8/tcp_server_wrapper.cp38-win_amd64.pyd
server-client/build/lib.win-amd64-3.8/tcp_client_wrapper.cp38-win_amd64.pyd
server-client/build/temp.win-amd64-3.8/Release/server.obj
*.o
server-client/src/build/lib.macosx-13-arm64-cpython-311/tcp_client_wrapper.cpython-311-darwin.so
server-client/src/build/lib.macosx-13-arm64-cpython-311/tcp_server_wrapper.cpython-311-darwin.so
*.so
server-client/src/received_file_1_dill
server-client/data/model_1_params.dill
server-client/data/model_1_params.dill
server-client/client_data/model_1_params.dill
server-client/client_data/model_1_params.dill
server-client/server_data/received_file_2_dill
server-client/server_data/received_file_1_dill
server-client/server_data/received_file_0_dill
server-client/data/model_1_params.dill
server-client/client_data/model_1_params.dill
server-client/data/model_1_params.dill
aggregated_file_
aggregated_file_2
.idea/FederatedAI.iml
.idea/misc.xml
.idea/runConfigurations/server_client.xml
server-client/src/fl_cpp_backbone/server copy.cpp
server-client 2.zip
